/* .Signup { */
  /* text-align: center; */
  /* flex-basis: 5%; */
/* } */

.Signup input {
  background-color: rgba(200,200,200,0.0);
  border: none;
  border: 2px solid rgba(200,200,200,0.6);
  border-radius: 20px;
  color: white;
  text-align: center;
  transition: background-color 0.7s, border 0.7s;
}

.Signup input:focus {
  background-color: rgba(0,0,0,0.2);
  border: 2px solid rgba(255,255,255,1);
  color: white;
  transition: background-color 0.7s, border 0.7s;
}

.Signup input::placeholder {
  color: white;
}

.Signup input, .Signup input:before, .Signup input:after {
  margin: 1rem auto 0rem;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
  width: 80%;
}

.Signup .btn {
  background-color: #ff533d;
  border-radius: 20px;
  color: #fdfdff;
  margin-top: 2rem;
  width: 8rem;
}

.Signup .browse {
  margin-top: 1.5rem;
}

.Signup .browse a {
  background-color: transparent;
}

.Signup .browse a span {
  color: #ff533d;
}
