/***********************************
Mobile Game List Page Styling
************************************/

/* colors used:
  #fdfdff
  #ddd
  #02558b
  #2cf
  #ff533d
*/

.GameList {
  background-color: #fdfdff;
  padding-bottom: 3rem;

  /* background: linear-gradient(180deg, #2cf, #ff533d); */
  /* overflow: scroll;
  height: 92.5vh; */
}

.GameList .material-icons {
  margin-right: 0rem;
}

.each_game {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 0px 0.7rem 0.7rem;
  min-height: 2rem;
  padding: 10px;
  padding-left: 0px;

  /* border-top: 1px solid white; */
}

/* .each_game {
  background-color: #02558b;
  border-radius: 60px;
  margin: 0px 0.7rem 0.7rem;
  padding: 5px 5px 5px 0px ;
} */

.each_game a {
  display: flex;
}

.game_initial {
  align-items: center;
  background-color: #02558b;
  /* background-color: transparent; */
  border-radius: 50%;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-basis: 3rem;
  justify-content: center;
  margin: 0rem 2.5rem 0rem 1rem;
}

.game_initial i {
  color: white;

  /* color: transparent;
  -webkit-text-stroke: 1px white;
  font-size: 36px; */
}

.game_initial #card {
  transform: rotate(180deg);
  /* Safari */
  -webkit-transform: rotate(180deg);
  /* Firefox */
  -moz-transform: rotate(180deg);
  /* IE */
  -ms-transform: rotate(180deg);
  /* Opera */
  -o-transform: rotate(180deg);
}

.game_initial h3 {
  color: white;
  padding-top: 0.25rem;
  text-transform: lowercase;
}

.game_title {
  color: #2cf;
  margin-bottom: 0px;

  /* color: white; */
}

.game_category {
  color: darkgray;
  font-style: italic;
  margin-bottom: 0px;

  /* color: white; */
}

.click-arrow {
  align-self: center;
  margin-left: auto;
}

.click-arrow i {
  /* color: darkgray; */
  font-size: 30px;
  vertical-align: middle;

  /* color: white; */
}

.material-icons.md-36.FAB {
 background-color: #ff533d;
 border-radius: 50%;
 box-shadow: 5px 8px 10px 2px rgba(0, 0, 0, 0.2);
 color: white;
 padding: 0.75rem;
 position: fixed;
 bottom: 1rem;
 right: 1rem;
 z-index: 1;

 /* background-color: white;
 color: #9938f9; */
}

/*#footer {
  background: linear-gradient(155deg, #02558b, #2cf);
  height: 3rem;
  width: 100%;
  position: fixed;
  bottom: 0rem;
}*/


@media screen and (min-width: 800px) {

  .games-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0rem auto;
    width: 85%;
  }

  .each_game {
    flex: 0 0 22%;
    padding: 0;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .each_game a {
    align-items: center;
    flex-direction: column;
    padding: 1rem;
  }

  .each_game:hover {
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
    transform: scale(1.03);
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .each_game:hover a {
    text-decoration: none;
  }

  .game_initial {
    width: 24%;
    margin: 0rem auto;
  }

  .game_initial i {
    /* width: 100%; */
  }

  .click-arrow {
    margin: 0;
    transform: rotate(90deg);
  }



}
