/***********************************
Mobile Game List Page Styling
************************************/

/* colors used and thier css variables:
  #fdfdff    or var(--white)
  #ddd       or var(--gray)
  #02558b    or var(--primary-color)
  #2cf       or var(--secondary-color)
  #ff533d    or var(--action-color)
*/

.GameList {
  background-color: #fdfdff;
  padding-bottom: 6rem;
  padding-top: 4rem;
  position: relative;
}

.GameList .material-icons {
  margin-right: 0rem;
}

.each_game {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0px 0.7rem 0.7rem;
  min-height: 2rem;
  padding: 10px;
  padding-left: 0px;

  /* border-top: 1px solid white; */
}

.each_game .card-title {
  color: var(--secondary-color);
}

.each_game a {
  display: flex;
}

.game_initial {
  align-items: center;
  background-color: #02558b;
  /* background-color: transparent; */
  border-radius: 50%;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-basis: 3rem;
  justify-content: center;
  margin: 0rem 2.5rem 0rem 1rem;
}

.game_initial i {
  color: white;
}

.game_initial #card {
  transform: rotate(180deg);
  /* Safari */
  -webkit-transform: rotate(180deg);
  /* Firefox */
  -moz-transform: rotate(180deg);
  /* IE */
  -ms-transform: rotate(180deg);
  /* Opera */
  -o-transform: rotate(180deg);
}

.game_initial h3 {
  color: white;
  padding-top: 0.25rem;
  text-transform: lowercase;
}

.game_title {
  color: #2cf;
  margin-bottom: 0px;

  /* color: white; */
}

.game_category {
  color: darkgray;
  font-style: italic;
  margin-bottom: 0px;

  /* color: white; */
}

.click-arrow {
  align-self: center;
  margin-left: auto;
}

.click-arrow i {
  /* color: darkgray; */
  font-size: 30px;
  vertical-align: middle;

  /* color: white; */
}

.FAB {
  bottom: 5rem;
  display: flex;
  position: fixed;
  width: 100%;
}

.FAB a {
  background: linear-gradient(45deg, var(--action-color) 35%, #CC200F);
  border-radius: 18px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  color: var(--white);
  display: flex;
  margin: 0 auto;
  padding: 0rem 0.85rem;
  align-items: center;
}

.FAB p {
  margin-bottom: 0;
  border-right: 2px solid var(--white);
  padding-right: 0.5rem;
  padding: 0.35rem 0.5rem 0.35rem 0rem;
}

.FAB div {
  display: flex;
  align-items: center;
  margin-left: 0.2rem;
  padding: 0.35rem 0rem;
}

.material-icons.md-36.FAB {
  /* border-radius: 50%;
  box-shadow: 5px 8px 10px 2px rgba(0, 0, 0, 0.2);
  z-index: 1; */

 /* background-color: white;
 color: #9938f9; */
}

@media screen and (min-width: 800px) {

  .games-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0rem auto;
    width: 85%;
  }

  .each_game {
    flex: 0 0 22%;
    padding: 0;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .each_game a {
    align-items: center;
    flex-direction: column;
    padding: 1rem;
  }

  .each_game:hover {
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
    transform: scale(1.03);
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .each_game:hover a {
    text-decoration: none;
  }

  .game_initial {
    width: 24%;
    margin: 0rem auto;
  }

  .game_initial i {
    /* width: 100%; */
  }

  .click-arrow {
    margin: 0;
    transform: rotate(90deg);
  }



}
