/* colors used:
  #fdfdff
  #ddd
  #02558b
  #2cf
  #ff533d
*/

.Splash {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  /* for the background gradient animation */
  background: linear-gradient(165deg, #fdfdff 33%, #2cf 65%);
  background-size: 225% 225%;
  -webkit-animation: changeBackGround 12s ease infinite;
  -moz-animation: changeBackGround 12s ease infinite;
  animation: changeBackGround 12s ease infinite;
}
@-webkit-keyframes changeBackGround {
    0%{background-position:-0% -0%}
    40%{background-position: 20% 50%}
    100%{background-position:0% 0%}
}
@-moz-keyframes changeBackGround {
    0%{background-position:-0% -0%}
    40%{background-position: 20% 50%}
    100%{background-position:0% 0%}
}
@keyframes changeBackGround {
    0%{background-position:-0% -0%}
    40%{background-position: 20% 50%}
    100%{background-position:0% 0%}
}

.Splash img {
  padding: 1rem;
  width: 40%;
  animation: 0.9s ease-in 0s 1 imageScale;
}

@keyframes imageScale {
  0%{
    opacity: 0.5;
    transform: scale(0.5);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.Splash h3 {
  display: none;
}

.Splash .btn {
  background-color: #ff533d;
  border-radius: 20px;
  color: #fdfdff;
  margin-top: 3rem;
  width: 8rem;
  animation: 1.5s ease 0s 1 slideUp;
}

@keyframes slideUp {
  0%{
    opacity: 0;
    transform: translateY(200%);
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}

.swipeIcon {
  display: none;
  background-color: transparent;
  border: 3px solid darkgray;
  border-radius: 25px;
  margin-top: 5rem;
  height: 5rem;
  width: 2.5rem;
}

.swiper {
  /* display: none; */
  animation: 1s ease-in 0s infinite swiper;
  background-color: darkgray;
  border-radius: 50%;
  height: 43%;
  margin: 0.2rem auto;
  /* left: 192px; */
  /* position: absolute; */
  width: 90%;
}

.Splash p {
  display: none;
  color: darkgray;
}

@keyframes swiper {
  0% {
    display: block;
    transform: translateY(100%);
  }
  100% {
    display: block;
    transform: translateY(0);
  }
}
