/* colors used:
  #fdfdff
  #ddd
  #02558b
  #2cf
  #ff533d
*/

.Splash {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
  width: 100%;
  text-align: center;
  z-index: 3;
  /* for the background gradient animation */
  background: linear-gradient(165deg, #02558b 33%, #2cf 65%);
  background-size: 225% 225%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-animation: changeBackGround 12s ease-in-out infinite;
  -moz-animation: changeBackGround 12s ease-in-out infinite;
  animation: changeBackGround 12s ease-in-out infinite;
}

@-webkit-keyframes changeBackGround {
    0%{background-position:-0% -0%}
    40%{background-position: 20% 50%}
    100%{background-position:0% 0%}
}
@-moz-keyframes changeBackGround {
    0%{background-position:-0% -0%}
    40%{background-position: 20% 50%}
    100%{background-position:0% 0%}
}
@keyframes changeBackGround {
    0%{background-position:-0% -0%}
    40%{background-position: 20% 50%}
    100%{background-position:0% 0%}
}

.Splash .Main-Logo img {
  padding: 1rem;
  height: 55%;
  width: 40%;
  margin: 2rem 0rem 0rem;
  animation: 0.9s ease-in 0s 1 imageScale;
}

@keyframes imageScale {
  0%{
    opacity: 0.5;
    transform: scale(0.5);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.Main-Logo {
  width: 100%;
  /* flex-basis: 50%; */
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter, .login-register {
  color: white;
  width: 100%;
  height: 50vh;
}

.login-register {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome {
  font-size: 1.2rem;
  margin-bottom: 0rem;
  text-transform: capitalize;
}

.not-me {
  color: rgba(255,255,255,0.6);
  font-style: italic;
  margin-top: 0rem;
  text-transform: capitalize;
}

.not-me span, .not-member span {
  color: #ff533d;
  margin-left: 0.75rem;
}

.not-member {
  color: rgba(255,255,255,0.6);
  margin-top: 0rem;
}

.Splash a {
  background-color: #ff533d;
  border-radius: 20px;
  color: #fdfdff;
  margin-top: 3rem;
  width: 8rem;
  animation: 1.5s ease 0s 1 slideUp;
}

@keyframes slideUp {
  0%{
    opacity: 0;
    transform: translateY(200%);
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}

.Splash .form-group {
  padding-top: 0;
}
