/* colors used:
  #fdfdff
  #ddd
  #02558b
  #2cf
  #ff533d
*/

.Splash {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: justify-content 0.5s;
  z-index: 3;
  /* for the background gradient animation */
  /* background: linear-gradient(165deg, #fdfdff 33%, #2cf 65%); */
  background: linear-gradient(165deg, #02558b 33%, #2cf 65%);
  background-size: 225% 225%;
  -webkit-animation: changeBackGround 12s ease-in-out infinite;
  -moz-animation: changeBackGround 12s ease-in-out infinite;
  animation: changeBackGround 12s ease-in-out infinite;
}
@-webkit-keyframes changeBackGround {
    0%{background-position:-0% -0%}
    40%{background-position: 20% 50%}
    100%{background-position:0% 0%}
}
@-moz-keyframes changeBackGround {
    0%{background-position:-0% -0%}
    40%{background-position: 20% 50%}
    100%{background-position:0% 0%}
}
@keyframes changeBackGround {
    0%{background-position:-0% -0%}
    40%{background-position: 20% 50%}
    100%{background-position:0% 0%}
}

.Splash img {
  padding: 1rem;
  width: 40%;
  animation: 0.9s ease-in 0s 1 imageScale;
}

@keyframes imageScale {
  0%{
    opacity: 0.5;
    transform: scale(0.5);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.Splash h3 {
  display: none;
}

.welcome {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 0rem;
  text-transform: capitalize;
}

.not-me {
  color: rgba(255,255,255,0.6);
  font-style: italic;
  margin-top: 0rem;
  text-transform: capitalize;
}

.not-me span, .not-member span {
  color: #ff533d;
  margin-left: 0.75rem;
}

.not-member {
  color: rgba(255,255,255,0.6);
  margin-top: 5rem;
}

.Splash a {
  background-color: #ff533d;
  border-radius: 20px;
  color: #fdfdff;
  margin-top: 3rem;
  width: 8rem;
  animation: 1.5s ease 0s 1 slideUp;
}

@keyframes slideUp {
  0%{
    opacity: 0;
    transform: translateY(200%);
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}
