/***********************************
  Mobile Alternate Games List Styling
************************************/

/* colors used:
  #fdfdff
  #ddd
  #02558b
  #2cf
  #ff533d
*/

#altGamesList {
  /* padding-top: 1rem; */
  /* background: linear-gradient(#02558b, #eee); */
  background-color: var(--white);
  margin: 0rem auto;
  padding-top: 1.5rem;
  width: 100%;
}

.alt_rules {
  color: gray;
  padding: 0rem 1rem;
}

.alt_list_header {
  background-color: white;
  border-radius: 3px;
  color: #02558b;
  margin: 0rem auto;
  padding: 1rem;
  text-align: center;
  width: 95%;
}

.arrowButton, .arrowButton2 {
  align-items: center;
  background-color: #ff553d;
  border: none;
  color: white;
  display: flex;
  font-size: 18px;
  height: 2rem;
  justify-content: center;
  margin: 0.5rem;
}

.arrowButton {
  align-items: center;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  height: 3rem;
  margin: 2rem auto 0rem;
  width: 65%;
}

.arrowButton2 {
  background-color: transparent;
  color: gray;
}

.each_alternate {
  background-color: rgba(255,255,255,1);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.2);
  margin: 0px auto 0.7rem auto;
  min-height: 5rem;
  padding: 1rem;
  padding-left: 1rem;
  width: 90%;
}

.each_alternate .alt_game_label {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.each_alternate .alternate_initial {
  /* background-color: #ff533d;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 2rem;
  padding: 0.3rem 0.6rem 0.6rem;
  margin: 0rem 2rem 0rem 1rem;
  text-transform: lowercase; */

  display: none;
}

.alternate_initial img {
  width: 2rem;
}

.title_container {
  flex: 1 0 60%;
}

.each_alternate .alternate_title {
  color: #2cf;
  margin-bottom: 0rem;
  margin-left: 1rem;
  text-align: left;
}

.each_alternate .arrowButton {
  color: gray;
  flex-basis: 10%;
  margin: 0rem;
  padding: 0rem;
}

.each_alternate .alternate_objective, .each_alternate .alternate_rules {
  color: gray;
}

.each_alternate .game_labels {
  color: darkgray;
  font-size: 0.9rem;
  font-style: italic;
  padding-top: 1.5rem;
}

#demo {
  margin-bottom: 0px;
}

#delete_rules_button {
  color: transparent;
  float: right;
  margin-top: 2rem;
}
