/***********************************
  Mobile Alternate Games List Styling
************************************/

/* colors used:
  #fdfdff
  #ddd
  #02558b
  #2cf
  #ff533d
*/

#altGamesList {
  background-color: var(--white);
  margin: 0rem auto;
  padding-top: 1.5rem;
  width: 100%;
}

.alt_rules {
  color: gray;
  padding: 0rem 1rem;
}

.alt_list_header {
  background-color: white;
  border-radius: 3px;
  color: #02558b;
  margin: 0rem auto;
  padding: 1rem;
  text-align: center;
  width: 95%;
}

.arrowButton, .arrowButton2 {
  align-items: center;
  background-color: #ff553d;
  border: none;
  color: white;
  display: flex;
  font-size: 18px;
  height: 2rem;
  justify-content: center;
  margin: 0.5rem;
}

.arrowButton {
  border-radius: 3px;
  font-size: 1.1rem;
  height: 3rem;
  margin: 2rem auto 0rem;
  width: 65%;
}

.arrowButton2 {
  background-color: transparent;
  color: gray;
  padding-top: 0.2rem;
}

.each_alternate {
  border: none;
  margin: 0px auto 0.7rem auto;
  min-height: 3rem;
  padding: 1rem;
  padding-left: 1rem;
  width: 90%;
}

.each_alternate .alt_game_label {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.alternate_initial img {
  width: 2rem;
}

.title_container {
  flex: 1 0 60%;
}

.each_alternate .alternate_title {
  color: #2cf;
  margin-bottom: 0rem;
  margin-left: 1rem;
  text-align: left;
  padding-left: 1rem;
}

.each_alternate .arrowButton {
  color: gray;
  flex-basis: 10%;
  margin: 0rem;
  padding: 0rem;
}

.each_alternate .alternate_objective, .each_alternate .alternate_rules {
  color: gray;
  border-left: 2px solid var(--gray);
  padding-left: 0.75rem;
}

.each_alternate .alternate_objective {
  font-size: 1.4rem;
}

.each_alternate .game_labels {
  color: darkgray;
  font-size: 0.9rem;
  font-style: italic;
  padding-top: 1.5rem;
}

#demo {
  margin-bottom: 0px;
}

#delete_rules_button {
  color: transparent;
  float: right;
  margin-top: 2rem;
}
