/* colors used:
  #fdfdff
  #ddd
  #02558b
  #2cf
  #ff533d
*/

.Alert {
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
  width: 95%;
  margin: 0rem auto;
  position: fixed;
  top: 4rem;
  left: 0.55rem;
  z-index: 5;
  transition: top 0.3s, background-color 0.4s ease;
}

.Alert.hide {
  position: fixed;
  top: -8rem;
  transition: top 0.3s, background-color 0.4s ease;
}

.alert-message {
  max-width: 80%;
  margin: 0rem auto;
  text-align: center;
}

.Alert i {
  font-size: 1.6rem;
  position: absolute;
  right: 0;
  top: 0.5rem;
}
