.Login {
  text-align: center;
  flex-basis: 5%;
  margin-top: 0;
}

.Login input {
  background-color: rgba(200,200,200,0.0);
  border: none;
  border: 2px solid rgba(200,200,200,0.6);
  /* border-bottom: 2px solid rgba(200,200,200,0.6); */
  border-radius: 20px;
  color: white;
  text-align: center;
  transition: background-color 0.7s, border 0.7s;
}

.Login input:focus {
  background-color: rgba(0,0,0,0.2);
  border: 2px solid rgba(255,255,255,1);
  color: white;
  transition: background-color 0.7s, border 0.7s;
}

.Login input::placeholder {
  color: white;
}

.Login input, .Login input:before, .Login input:after {
  margin: 1rem auto 0rem;
  width: 80%;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
  z-index: 5000;
}

.Login .btn {
  background-color: #ff533d;
  border-radius: 20px;
  color: #fdfdff;
  margin-top: 2rem;
  width: 8rem;
}
