.Login {
  text-align: center;
  flex-basis: 5%;
  margin-top: 0;
}

.Login input, .Login input:before, .Login input:after {
  margin: 1rem auto 0rem;
  width: 80%;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
  z-index: 5000;
}

.Login .btn {
  background-color: #ff533d;
  border-radius: 20px;
  color: #fdfdff;
  margin-top: 1rem;
  width: 8rem;
}
